*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sailec", "Arial", sans-serif;
  color: #939CAA;
}

p {
  font-family: "Titillium Web", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 1080px;
  max-width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 22px;
}

.header__item:nth-child(2) {
  margin-right: 17px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  display: inline-block;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  color: rgba(102, 102, 102, 0.85);
}

.header__link:hover {
  color: #000;
}

.intro__container {
  width: 1440px;
  max-width: 100%;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 175px;
  padding-right: 120px;
}

.intro__info {
  width: 545px;
  max-width: 100%;
  padding: 77px 8px 0 15px;
}

.intro__city {
  width: 545px;
}

.intro__title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.25px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.intro__text {
  width: 512px;
  max-width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #434A54;
}

.projects {
  margin-bottom: 50px;
}

.projects__container {
  width: 1440px;
  max-width: 100%;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 175px;
  padding-left: 120px;
}

.projects__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 30px;
}

.projects__info {
  padding-left: 15px;
}

.projects__info--top {
  width: 520px;
  padding-top: 76px;
}

.projects__info--bottom {
  width: 545px;
  padding-top: 71px;
}

.projects__title {
  width: 437px;
  max-width: 100%;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.projects__text {
  font-size: 18px;
  line-height: 30px;
  color: #434A54;
}

.projects__text--top {
  width: 458px;
  max-width: 100%;
  margin: 15px 0 21px;
}

.projects__text--bottom {
  width: 500px;
  max-width: 100%;
  margin: 20px 0 52px;
}

.projects__link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #1D6FF3;
}

.projects__link:hover {
  color: rgba(29, 111, 243, 0.7);
}
/*# sourceMappingURL=main.css.map */