*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Sailec", "Arial", sans-serif ;
    color: #939CAA;
}
p {
    font-family: "Titillium Web", "Arial", sans-serif ;
}
a{
    text-decoration: none;
    transition: 0.3s ease all;
}
ul{
    list-style: none;
    padding: 0;
}
img{
    max-width: 100%;
}